{% extends "base.html" %}
{% block content %}

<div class="box">
	<h1>Order something</h1>
    <p>Welcome! Here you can order whatever you want.<br>
    To start please register till you can access the product.
    </p>
    {% if logged_in:  %}
    <script async
      src="https://js.stripe.com/v3/buy-button.js">
    </script>

    <stripe-buy-button
      buy-button-id="buy_btn_1OT4TeCA3TXXteKGMapDTpLw"
      publishable-key="pk_test_51OT40eCA3TXXteKGJVwnHmifuO2a52N5jWadTfvNnuygrYtZsvEMPkmdiWnLhMQnFLh16lMdel4aebr2cLwCOk0G00A4hEOm2i"
    >
    </stripe-buy-button>
    {% endif %}
    {% if not logged_in: %}
  <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large">Login</a>
  <a href="{{ url_for('register') }}" class="btn btn-secondary btn-block btn-large">Register</a>
    {% endif %}
</div>

{% endblock %}